<%- include('main/header'); %>
<style>
    .clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
    .clearfix:after{clear:both;}
    .hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
    .input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    .btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
    .fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
    .fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
    .fileupload .btn{vertical-align:middle;}
    .fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
    .fileupload-inline .fileupload-controls{display:inline;}
    .fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
    .thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
    .fileupload-new.thumbnail-borderless .thumbnail{border:1px solid rgb(5, 6, 8);}
    .control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
    .control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
    .control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
    .control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
    .control-group.error .fileupload .fileupload-preview{color:#b94a48;}
    .control-group.error .fileupload .thumbnail{border-color:#b94a48;}
    .control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
    .control-group.success .fileupload .fileupload-preview{color:#468847;}
    .control-group.success .fileupload .thumbnail{border-color:#468847;}
</style>
<script>
    !function(e){var t=function(t,n){this.$element=e(t),this.type=this.$element.data("uploadtype")||(this.$element.find(".thumbnail").length>0?"image":"file"),this.$input=this.$element.find(":file");if(this.$input.length===0)return;this.name=this.$input.attr("name")||n.name,this.$hidden=this.$element.find('input[type=hidden][name="'+this.name+'"]'),this.$hidden.length===0&&(this.$hidden=e('<input type="hidden" />'),this.$element.prepend(this.$hidden)),this.$preview=this.$element.find(".fileupload-preview");var r=this.$preview.css("height");this.$preview.css("display")!="inline"&&r!="0px"&&r!="none"&&this.$preview.css("line-height",r),this.original={exists:this.$element.hasClass("fileupload-exists"),preview:this.$preview.html(),hiddenVal:this.$hidden.val()},this.$remove=this.$element.find('[data-dismiss="fileupload"]'),this.$element.find('[data-trigger="fileupload"]').on("click.fileupload",e.proxy(this.trigger,this)),this.listen()};t.prototype={listen:function(){this.$input.on("change.fileupload",e.proxy(this.change,this)),e(this.$input[0].form).on("reset.fileupload",e.proxy(this.reset,this)),this.$remove&&this.$remove.on("click.fileupload",e.proxy(this.clear,this))},change:function(e,t){if(t==="clear")return;var n=e.target.files!==undefined?e.target.files[0]:e.target.value?{name:e.target.value.replace(/^.+\\/,"")}:null;if(!n){this.clear();return}this.$hidden.val(""),this.$hidden.attr("name",""),this.$input.attr("name",this.name);if(this.type==="image"&&this.$preview.length>0&&(typeof n.type!="undefined"?n.type.match("image.*"):n.name.match(/\.(gif|png|jpe?g)$/i))&&typeof FileReader!="undefined"){var r=new FileReader,i=this.$preview,s=this.$element;r.onload=function(e){i.html('<img src="'+e.target.result+'" '+(i.css("max-height")!="none"?'style="max-height: '+i.css("max-height")+';"':"")+" />"),s.addClass("fileupload-exists").removeClass("fileupload-new")},r.readAsDataURL(n)}else this.$preview.text(n.name),this.$element.addClass("fileupload-exists").removeClass("fileupload-new")},clear:function(e){this.$hidden.val(""),this.$hidden.attr("name",this.name),this.$input.attr("name","");if(navigator.userAgent.match(/msie/i)){var t=this.$input.clone(!0);this.$input.after(t),this.$input.remove(),this.$input=t}else this.$input.val("");this.$preview.html(""),this.$element.addClass("fileupload-new").removeClass("fileupload-exists"),e&&(this.$input.trigger("change",["clear"]),e.preventDefault())},reset:function(e){this.clear(),this.$hidden.val(this.original.hiddenVal),this.$preview.html(this.original.preview),this.original.exists?this.$element.addClass("fileupload-exists").removeClass("fileupload-new"):this.$element.addClass("fileupload-new").removeClass("fileupload-exists")},trigger:function(e){this.$input.trigger("click"),e.preventDefault()}},e.fn.fileupload=function(n){return this.each(function(){var r=e(this),i=r.data("fileupload");i||r.data("fileupload",i=new t(this,n)),typeof n=="string"&&i[n]()})},e.fn.fileupload.Constructor=t,e(document).on("click.fileupload.data-api",'[data-provides="fileupload"]',function(t){var n=e(this);if(n.data("fileupload"))return;n.fileupload(n.data());var r=e(t.target).closest('[data-dismiss="fileupload"],[data-trigger="fileupload"]');r.length>0&&(r.trigger("click.fileupload"),t.preventDefault())})}(window.jQuery)
</script>
        <!-- Wrapper -->
    <div id="wrapper">


       <!-- contents -->
       <div class="main_content">

        <%- include('main/header_bar'); %>

            <div class="main_content_inner">

                <div id="spinneroverlay"> </div>

 
                <div class="profile">
                    <div class="profile-cover">

                        <!-- profile cover -->
                        <img src="assets/images/avatars/profile-cover.jpg" alt="">

                        <a href="#"> <i class="uil-camera"></i> Edit </a>

                    </div>

                    <div class="profile-details">
                        <div class="profile-image">
                            <img src="assets/images/avatars/avatar-2.jpg" alt="">
                            <a href="#"> </a>
                        </div>
                        <div class="profile-details-info">
                            <h1><%= (user) ? user.name:"" %></h1>
                            <!-- <p> Family , Food , Fashion , Fourever <a href="#">Edit </a></p> -->
                        </div>

                    </div>

                    <div class="nav-profile" uk-sticky="media : @s">
                        <div class="py-md-2 uk-flex-last">
                            <a href="#" class="button primary mr-2 " uk-toggle="target: body ; cls: post-focus"> <i class="uil-plus"></i> Add your Post</a>
                            <!-- <a href="#" class="button light button-icon mr-2"> <i class="uil-list-ul"> </i> </a>
                            <a href="#" class="button light button-icon mr-lg-3"> <i class="uil-ellipsis-h"> </i> </a> -->
                            <!-- <div uk-dropdown="pos: bottom-left ; mode:hover" class="display-hidden">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="#" class="uk-input"> Feeds </a></li>
                                    <li><a href="#" class="uk-input"> Posts </a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div>
                            <nav class="responsive-tab ml-lg-3">
                                <ul>
                                    <li class="uk-active"><a class="active" href="/mypage">Your Posts</a></li>
                                    <li><a href="/mypagefriends">Friends</a></li>
                                    <li><a href="timeline-friends.html">About</a></li>                                    
                                    <!-- <li><a href="timeline-friends.html">Videos</a></li> -->
                                </ul>
                            </nav>
                            <!-- <div class="uk-visible@s">
                                <a href="#" class="nav-btn-more"> More</a>
                                <div uk-dropdown="pos: bottom-left" class="display-hidden">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="#">Moves</a></li>
                                        <li><a href="#">Likes</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">Groups</a></li>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Gallery</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
               

                <div class="section-small">

                    <div uk-grid>

                        <div class="uk-width-2-3@m fead-area">

                            <div class="post-newer mt-lg-2">

                                <!-- <div class="post-new" uk-toggle="target: body ; cls: post-focus">
                                    <div class="post-new-media">
                                        <div class="post-new-media-user">
                                            <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                        </div>
                                        <div class="post-new-media-input">
                                            <input type="text" class="uk-input" placeholder="What's Your Mind ? Hamse!">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="post-new-type">
    
                                        <a href="#">
                                            <img src="assets/images/icons/live.png" alt="">
                                            Go Live
                                        </a>
    
                                        <a href="#">
                                            <img src="assets/images/icons/photo.png" alt="">
                                            Photo/Video
                                        </a>
    
                                        <a href="#" class="uk-visible@s">
                                            <img src="assets/images/icons/tag-friend.png" alt="">
                                            Tag Friend
                                        </a>
    
                                        <a href="#"><img src="assets/images/icons/reactions_wow.png" alt="">
                                            Fealing
                                        </a>
    
                                    </div>
                                </div> -->
                                 <!-- modal -->
                                    <div class="post-pop" id="postmodal">
                        
                                        <div class="post-new-overyly" uk-toggle="target: body ; cls: post-focus"></div>
                                
                                        <div class="post-new uk-animation-slide-top-large">
                                
                                
                                            <div class="post-new-header">
                                
                                                <h4> Create new post</h4>
                                
                                                <!-- close button-->
                                                <span class="post-new-btn-close" uk-toggle="target: body ; cls: post-focus"
                                                    uk-tooltip="title:Close; pos: left "></span>
                                
                                            </div>
                                            <form action="/post/add" method="post" enctype="multipart/form-data">
                                                <div class="post-new-media">
                                                    <div class="post-new-media-user">
                                                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                                    </div>
                                                    <div class="post-new-media-input">
                                                        <input type="text" class="uk-input" name="description"
                                                            placeholder="What's Your Mind ?">
                                                    </div>
                                                </div>
                                                <h5>Upload Options</h5>
                                                <div class="uk-flex" id="choose">
                                                    <div class="post-new" style="margin-top: 2%;">
                                                        <label for="video">Video</label>
                                                        <input type="radio" id="video" class="options uk-radio" name="option" value="video" />
                                                        <div class="fileupload fileupload-new" data-provides="fileupload" id="filevideo" style="visibility: hidden;">
                                                            <span class="btn btn-primary btn-file"><span class="fileupload-new">Select video</span>
                                                            <span class="fileupload-exists">Change</span>         <input type="file" id="videofile" name="posts" /></span>
                                                            <span class="fileupload-preview"></span>
                                                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                                        </div>
                                                    </div>
                                                    <div class="post-new" style="margin-top: 2%;">
                                                        <label for="video">Picture</label>
                                                        <input type="radio" id="image" class="options uk-radio" name="option" value="image" />
                                                        <div class="fileupload fileupload-new" data-provides="fileupload" id="filepicture" style="visibility: hidden;">
                                                            <span class="btn btn-primary btn-file"><span class="fileupload-new">Select picture</span>
                                                            <span class="fileupload-exists">Change</span>         <input type="file" id="picturefile" name="posts"/></span>
                                                            <span class="fileupload-preview"></span>
                                                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        document.getElementById('choose').addEventListener('change',function(){
                                                            let val = $("input[type='radio'][name='option']:checked").val();

                                                            console.log(val)
                                                            if(val=='video'){
                                                                document.getElementById('filepicture').style.visibility = 'hidden';
                                                                document.getElementById('filevideo').style.visibility = 'visible';
                                                                
                                                            }else{
                                                                document.getElementById('filevideo').style.visibility = 'hidden';
                                                                document.getElementById('filepicture').style.visibility = 'visible';
                                                            }
                                                        })
                                                        
                                                        
                                                    </script>
                                    
                                                </div>
                                                <div class="uk-flex uk-flex-between" >
                                                    <span>
                                                    
                                                        <input class="outline-light circle" type="radio" style="
                                                        border-color: #e6e6e6;  border-width: 1px; " name="downloadable" value="true" placeholder="downloadable?">
                                                        <label for="download">download option</label>
                                                    </span>
                                                    <!-- <div uk-dropdown>
                                                        <ul class="uk-nav uk-dropdown-nav">
                                                            <li class="uk-active"><a href="#">Only me</a></li>
                                                            <li><a href="#">Every one</a></li>
                                                            <li><a href="#"> People I Follow </a></li>
                                                            <li><a href="#">I People Follow Me</a></li>
                                                        </ul>
                                                    </div> -->
                                    
                                                    <button type="submit" class="button primary px-6" style="float: right;"> Post </button>
                                                </div>
                                            </form>
                                        </div>
                                
                                    </div>
                              
    
                            </div>
                            <% if(userinfos && posts.length > 0 ) {%>
                                <% posts.forEach(function(key){%>
                                    <div class="post">
                                        <div class="post-heading">
                                            
                                            <div class="post-title">
                                                <h4> <%=userinfos.name%> </h4>
                                                <p> <%=moment(key.createdAt).fromNow()%></p>
                                            </div>
                                            <div class="post-btn-action">
                                                <span class="icon-more uil-ellipsis-h"></span>
                                                <div class="mt-0 p-2" uk-dropdown="pos: top-right;mode:hover ">
                                                    <ul class="uk-nav uk-dropdown-nav">
                                                        <%#(key.isdownload ==true)?<li><a href="#"> <i class="uil-share-alt mr-1"></i> download</a> </li>:<li></li> %>
                                                        <!-- <li><a href="#"> <i class="uil-edit-alt mr-1"></i> Edit Post </a></li>
                                                        <li><a href="#"> <i class="uil-comment-slash mr-1"></i> Disable comments
                                                            </a></li>
                                                        <li><a href="#"> <i class="uil-favorite mr-1"></i> Add favorites </a>
                                                        </li>
                                                        <li><a href="#" class="text-danger"> <i class="uil-trash-alt mr-1"></i>
                                                                Delete </a></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-description">
                                            <div class="fullsizeimg">
                                                <% if(key.objtext.substr(key.objtext.length-4,key.objtext) ==".mp4"){%>
                                                    <video width="500" height="340" controls autoplay loop>  
                                                        <source src="/Uploads/<%=key.objtext%>" type="video/mp4">  
                                                        Your browser does not support the html video tag.  
                                                      </video>  
                                                <% }else{ %>
                                                    <img src="/Uploads/<%=key.objtext%>" alt="">
                                                <%}%>
                                            </div>
                                            <div class="post-state-details">
                                                <div>
                                                    <p> <%= key.description%> </p>
                                                </div>
                                            </div>
            
                                        </div>
            
                                        <div class="post-state">
                                            <div class="post-state-btns"> <i class="uil-thumbs-up"></i> <%=key.likes.length%><span> Like(s) </span>
                                            </div>
                                            <div class="post-state-btns"> <i class="uil-heart"></i> <%=key.comments.length%> <span> Comment(s)</span>
                                            </div>
                                            <!-- <div class="post-state-btns"> <i class="uil-bookmark"></i> 13 <span> Saved </span>
                                            </div> -->
                                        </div>
            
                                        <!-- post comments -->
                                        
                                        <div class="post-comments">
                                                <%if(key.comments.length>0){%>
                                            <!-- <a href="#" class="view-more-comment"> Veiw 8 more Comments</a> -->
                                            <div class="post-comments-single">
                                                <div class="post-comment-avatar">
                                                    <img src="assets/images/avatars/avatar-5.jpg" alt="">
                                                </div>
                                                <div class="post-comment-text">
                                                    <div class="post-comment-text-inner">
                                                        <h6> Alex Dolgove</h6>
                                                        <p> Ut wisi enim ad minim laoreet dolore magna aliquam erat </p>
                                                    </div>
                                                    <div class="uk-text-small">
                                                        <a href="#" class="text-danger mr-1"> <i class="uil-heart"></i> Love
                                                        </a>
                                                        <a href="#" class=" mr-1"> Replay </a>
                                                        <span> 1d</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="post-comment-opt"></a>
                                            </div>
                                            <div class="post-comments-single">
                                                <div class="post-comment-avatar">
                                                    <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                                </div>
                                                <div class="post-comment-text">
                                                    <div class="post-comment-text-inner">
                                                        <h6>Stella Johnson</h6>
                                                        <p> Ut wisi enim ad minim laoreet dolore <strong> David !</strong> </p>
                                                    </div>
                                                    <div class="uk-text-small">
                                                        <a href="#" class="text-primary mr-1"> <i class="uil-thumbs-up"></i>
                                                            Like
                                                        </a>
                                                        <a href="#" class=" mr-1"> Replay </a>
                                                        <span> 2d</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="post-comment-opt"></a>
                                            </div>
                                            <div class="post-comments-single">
                                                <div class="post-comment-avatar">
                                                    <img src="assets/images/avatars/avatar-3.jpg" alt="">
                                                </div>
                                                <div class="post-comment-text">
                                                    <div class="post-comment-text-inner">
                                                        <h6> Jonathan Madano </h6>
                                                        <p> sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                                                            aliquam
                                                            erat
                                                            volutpat.<strong> David !</strong> </p>
                                                    </div>
                                                    <div class="uk-text-small">
                                                        <a href="#" class="text-danger mr-1"> <i class="uil-heart"></i> Love
                                                        </a>
                                                        <a href="#" class=" mr-1"> Replay </a>
                                                        <span> 3d</span>
                                                    </div>
                                                </div>
                                                <a href="#" class="post-comment-opt"></a>
                                            </div>
            
            
                                            <a href="#" class="view-more-comment"> View 8 more Comments</a>
                                            <%}%>
                                            <div class="post-add-comment">
                                                <div class="post-add-comment-avature">
                                                    <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                                </div>
                                                <div class="post-add-comment-text-area">
                                                    <input type="text" placeholder="Write your comment...">
                                                    <div class="icons">
                                                        <span class="uil-link-alt"></span>
                                                        <span class="uil-grin"></span>
                                                        <span class="uil-image"></span>
                                                    </div>
                                                </div>
            
                                            </div>
            
                                        </div>
                                        
            
                                    </div>
                                <%})%>
                                
     
                            <div class="load-more">
                                <button class="btn button">Load more post</button>
                            </div>
                            <%} else {%>
                                <div class="post-title load-more">
                                    <a href="javascript:;" class="button primary mr-2" uk-toggle="target: body ; cls: post-focus"> <i class="uil-plus"></i> Create a Post</a>
                                </div>
                                
                            <%}%>
                            

                        </div>
                        
                        <!-- sidebar -->
                        <div class="uk-width-expand ml-lg-2">

                            <div class="sl_user-widget">
                                <div class="sl_user-widget-wrap-header pb-0">
                                    <div class="sl_user-widget-wrap-header-left">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                    d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z">
                                                </path>
                                            </svg></span>
                                        <h4> Info </h4>
                                    </div>
                                </div>
                                <ul class="sl_right_user_info">
                            
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z">
                                            </path>
                                        </svg>
                                        <span class="text-success"> Online </span>
                                    </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z">
                                            </path>
                                        </svg>
                                        <span id="user_post_count">27</span> posts </li>
                            
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M3.9,12C3.9,10.29 5.29,8.9 7,8.9H11V7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H11V15.1H7C5.29,15.1 3.9,13.71 3.9,12M8,13H16V11H8V13M17,7H13V8.9H17C18.71,8.9 20.1,10.29 20.1,12C20.1,13.71 18.71,15.1 17,15.1H13V17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7Z">
                                            </path>
                                        </svg>
                                        <a href="#" target="_blank">https://mydomain.com</a>
                                    </li>
                            
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M9,11.75A1.25,1.25 0 0,0 7.75,13A1.25,1.25 0 0,0 9,14.25A1.25,1.25 0 0,0 10.25,13A1.25,1.25 0 0,0 9,11.75M15,11.75A1.25,1.25 0 0,0 13.75,13A1.25,1.25 0 0,0 15,14.25A1.25,1.25 0 0,0 16.25,13A1.25,1.25 0 0,0 15,11.75M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,11.71 4,11.42 4.05,11.14C6.41,10.09 8.28,8.16 9.26,5.77C11.07,8.33 14.05,10 17.42,10C18.2,10 18.95,9.91 19.67,9.74C19.88,10.45 20,11.21 20,12C20,16.41 16.41,20 12,20Z">
                                            </path>
                                        </svg>
                                        Male </li>
                            
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                            </path>
                                        </svg>
                                        Single </li>
                                    <hr class="my-2">
                                    </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M10,2H14A2,2 0 0,1 16,4V6H20A2,2 0 0,1 22,8V19A2,2 0 0,1 20,21H4C2.89,21 2,20.1 2,19V8C2,6.89 2.89,6 4,6H8V4C8,2.89 8.89,2 10,2M14,6V4H10V6H14Z">
                                            </path>
                                        </svg>
                                        <span>Working at Envanto Market</span>
                                    </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M12,3L1,9L12,15L21,10.09V17H23V9M5,13.18V17.18L12,21L19,17.18V13.18L12,17L5,13.18Z"></path>
                                        </svg>
                                        <span>Studied at Albahrain schools</span>
                                    </li>
                            
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z">
                                            </path>
                                        </svg>
                                        Living in Turkey </li>
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z">
                                            </path>
                                        </svg>
                                        <span>Located in Turkey</span>
                                        <iframe width="100%" class="user-location-frame" frameborder="0" style="border:0;margin-top: 10px;"
                                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOfpaMO_tMMsuvS2T4zx4llbtsFqMuT9Y&amp;q=Turkey&amp;language=en"></iframe>
                                    </li>
                            
                                </ul>
                            </div>

                            <!-- Albums -->
                            <!-- <div class="sl_user-widget">
                                <div class="sl_user-widget-wrap-header">
                                    <div class="sl_user-widget-wrap-header-left">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                    d="M22,16V4A2,2 0 0,0 20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16M11,12L13.03,14.71L16,11L20,16H8M2,6V20A2,2 0 0,0 4,22H18V20H4V6">
                                                </path>
                                            </svg></span> 
                                            <a href="#">Albums</a>&nbsp;<div style="font-weight: 600">12</div>
                                    </div>
                                    <div class="sl_user-widget-wrap-right"> <a href="#" class="see-all"> See all</a></div>
                                </div>
                            
                                <ul class="sidebar-user-data-container">
                                    <div class="sidebar-user-data">
                                        <a href="#" title="" uk-tooltip="My album 1">
                                            <div class="sidebar-listed-user-avatar">
                                                <img src="assets/images/avatars/avatar-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="sidebar-user-data">
                                        <a href="#" title="" uk-tooltip="My album 2">
                                            <div class="sidebar-listed-user-avatar">
                                                <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="sidebar-user-data">
                                        <a href="#" title="" uk-tooltip="My album 3">
                                            <div class="sidebar-listed-user-avatar">
                                                <img src="assets/images/avatars/avatar-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="sidebar-user-data">
                                        <a href="#" title="" uk-tooltip="My album 4">
                                            <div class="sidebar-listed-user-avatar">
                                                <img src="assets/images/avatars/avatar-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="sidebar-user-data">
                                        <a href="#" title="" uk-tooltip="My album 5">
                                            <div class="sidebar-listed-user-avatar">
                                                <img src="assets/images/avatars/avatar-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="sidebar-user-data">
                                        <a href="#" title="" uk-tooltip="My album 6">
                                            <div class="sidebar-listed-user-avatar">
                                                <img src="assets/images/avatars/avatar-6.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </ul>
                            
                            </div> -->

                            <!-- friends -->
                            <%if(userinfos && friends.length >0){%>
                                <div class="sl_user-widget">
                                    <div class="sl_user-widget-wrap-header">
                                        <div class="sl_user-widget-wrap-header-left">
                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M22,16V4A2,2 0 0,0 20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16M11,12L13.03,14.71L16,11L20,16H8M2,6V20A2,2 0 0,0 4,22H18V20H4V6">
                                                    </path>
                                                </svg></span> 
                                                <a href="#">Friends</a>&nbsp;<div style="font-weight: 600">124</div>
                                        </div>
                                        <div class="sl_user-widget-wrap-right"> <a href="#" class="see-all"> See all</a></div>
                                    </div>
                                
                                 
                                    <ul class="sidebar-user-data-container">
                                
                                        <li class="sidebar-user-data">
                                            <div class="sidebar-listed-user-avatar">
                                                <a href="#">
                                                    <img src="assets/images/avatars/avatar-4.jpg">
                                                    <div class="sidebar-listed-user-name">Adrian Moh</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="sidebar-user-data">
                                            <div class="sidebar-listed-user-avatar">
                                                <a href="#">
                                                    <img src="assets/images/avatars/avatar-5.jpg">
                                                    <div class="sidebar-listed-user-name">Alex Dolgo</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="sidebar-user-data">
                                            <div class="sidebar-listed-user-avatar">
                                                <a href="#">
                                                    <img src="assets/images/avatars/avatar-6.jpg">
                                                    <div class="sidebar-listed-user-name">Stella Joh</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="sidebar-user-data">
                                            <div class="sidebar-listed-user-avatar">
                                                <a href="#">
                                                    <img src="assets/images/avatars/avatar-7.jpg">
                                                    <div class="sidebar-listed-user-name">Alex Dolgo</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="sidebar-user-data">
                                            <div class="sidebar-listed-user-avatar">
                                                <a href="#">
                                                    <img src="assets/images/avatars/avatar-2.jpg">
                                                    <div class="sidebar-listed-user-name">Adrian Moh</div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="sidebar-user-data">
                                            <div class="sidebar-listed-user-avatar">
                                                <a href="#">
                                                    <img src="assets/images/avatars/avatar-1.jpg">
                                                    <div class="sidebar-listed-user-name">Alex Dolgo</div>
                                                </a>
                                            </div>
                                        </li>
                                            
                                        </ul>
                                    <a href="/mypagefriends" class="sl_user-widget-see-all button block light small px-0">  See all </a>
                                
                                </div>
                                <%}%>
                            

                            <!-- Footer menus-->
                            <div class="footer-wrapper-sidebar">
                                <div class="footer-powered">
                                    <p>  © 2021 Socialize</p>
                                </div>
                                
                                <hr>
                        
                                <ul class="list-inline">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Blog</a></li> 
                                    <li><a href="#"> Privacy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <!-- <li><a href="#">Developers</a></li> -->
                                    <!-- <li>
                                        <div class="dropdown dropup sun_foot_drop_menu">
                                            <a href="#" class="dropdown-toggle">
                                                More <span class="caret"></span>
                                            </a>
                                            <div uk-dropdown="pos: bottom-left ; mode:hover " class="uk-dropdown uk-dropdown-bottom-right" style="left: 745px; top: 87px;">
                                                <ul class="uk-nav uk-dropdown-nav">
                                                    <li><a href="#"> View as guast </a></li>
                                                    <li><a href="#"> Bloc this person </a></li>
                                                    <li><a href="#"> Report abuse</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>  -->
                                </ul>
                                <div class="clear"></div>
                            </div>


                        </div>

                    </div>

                </div>





            </div>

        </div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script> -->

<!-- TODO: Add SDKs for Firebase products that you want to use -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-storage.js"></script> -->

<!-- <script>
    function getFileUrl(filename) {
        //create a storage reference
        var storage = firebase.storage().ref(filename);

        //get file url
        storage
        .getDownloadURL()
        .then(function(url) {
            console.log(url);
        })
        .catch(function(error) {
            console.log("error encountered");
        });
    }
    function createPost(){
        // Your web app's Firebase configuration
        // var firebaseConfig = {
        //     apiKey: "AIzaSyCd_rU4ft1CCdYZJCAjM8OyAVVfZ8I14LQ",
        //     authDomain: "file-upload-deae7.firebaseapp.com",
        //     databaseURL: "https://file-upload-deae7.firebaseio.com",
        //     projectId: "file-upload-deae7",
        //     storageBucket: "file-upload-deae7.appspot.com",
        //     messagingSenderId: "772980880174",
        //     appId: "1:772980880174:web:273969e0f628410853c0bf"
        // };
        var firebaseConfig = {
            apiKey: 'AIzaSyBfertyvlc944FRk1k0xnZ4irbGiRXuimM',
            authDomain: 'socializer-69de0.firebaseapp.com',
            databaseURL: 'https://socializer-69de0-default-rtdb.firebaseio.com',
            projectId: "socializer-69de0",
            storageBucket: 'socializer-69de0.appspot.com'
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var files = [];
        if(document.getElementsByClassName('options').value =="video"){
            var fileButton =         document.getElementById('videofile');
            fileButton.addEventListener('change', function(e){
                var file = e.target.files[0];
                var storageRef = firebase.storage().ref('videos/'+new Date()+file.name);
                var task = storageRef.put(file);
            })
        }
        else if(document.getElementsByClassName('options').value =="image"){
            var fileButton =         document.getElementById('picturefile');
            fileButton.addEventListener('change', function(e){
                var file = e.target.files[0];
                var storageRef = firebase.storage().ref('images/'+new Date()+file.name);
                var task = storageRef.put(file);
            })
        }
        else{

        }
        
    }

</script> -->
        <!-- <div class="modal-body" id="postmodal" tabindex="-1" role="dialog" aria-labelledby="postmodalTitle" aria-hidden="true">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
              </div>
              <div class="row">
                <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
                <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
              </div>
              <div class="row">
                <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
              </div>
              <div class="row">
                <div class="col-sm-9">
                  Level 1: .col-sm-9
                  <div class="row">
                    <div class="col-8 col-sm-6">
                      Level 2: .col-8 .col-sm-6
                    </div>
                    <div class="col-4 col-sm-6">
                      Level 2: .col-4 .col-sm-6
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
    </div>
   
  
    <%- include('main/footer'); %>