     <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
  
     <!-- header -->
     <div id="main_header">
        <header>
            <div class="header-innr">
                
                <!-- Logo-->
                <div class="header-btn-traiger is-hidden" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible">
                    <span></span>
                </div>
                <span style="display: inline-flex;"><h4 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;margin-top: 10px;">Socialize!</h4><img src="/assets/images/internet.png" width="40" height="30" alt="logo"></span>

                 <!-- Logo-->
                 <div id="logo" class="ml-5">
                    <a href="/"> <img src="/assets/images/logo.png" alt=""></a>
                    <a href="/"> <img src="/assets/images/logo-light.png" class="logo-inverse"
                            alt=""></a>
                   
                </div>
                
                <!-- form search-->
                <div class="head_search">
                    <form>
                        <div class="head_search_cont">
                            <input value="" type="text" class="form-control"
                                placeholder="Search for People" autocomplete="off" onkeyup="getSearch(this.value)">
                            <i class="s_icon uil-search-alt"></i>
                        </div>

                        <!-- Search box dropdown -->
                        <div uk-dropdown="pos: top;mode:click;animation: uk-animation-slide-bottom-small"
                            class="dropdown-search display-hidden">
                            <!-- User menu -->

                            <ul class="dropdown-search-list" id="searchlist">
                                <li class="list-title"> type in name</li>
                                

                            </ul>

                        </div>


                    </form>
                </div>

                <!-- user icons -->
                <div class="head_user">

                    <!-- posts -->
                    <a href="/" class="opts_icon active" uk-tooltip="title: Posts ; pos: bottom ;offset:7" onclick="getActive(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#047cac" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                        </svg>
                    </a>

                    <!-- feeds -->
                    <!-- <a href="/feeds" class="opts_icon" uk-tooltip="title: Feeds ; pos: bottom ;offset:7" onclick="getActive(this)">
                        <img src="/assets/images/rss.png" alt="">
                    </a> -->

                    <!-- Message  notificiation dropdown -->
                    <a href="/chat" class="opts_icon" uk-tooltip="title: Messages ; pos: bottom ;offset:7" onclick="getActive(this)">
                        <img src="/assets/images/icons/message.svg" alt="">
                    </a>

                    <!-- find friends -->
                    <a href="/explore" class="opts_icon" uk-tooltip="title: Find Friends ; pos: bottom ;offset:7" onclick="getActive(this)">
                        <img src="/assets/images/add-user.svg" alt="">
                    </a>

                    <!-- notificiation icon  -->
                    <a href="javascript:;" class="opts_icon" uk-tooltip="title: Notifications ; pos: bottom ;offset:7" onclick="getNotification()">
                        <img src="/assets/images/notify.png" alt=""> <span id="notify">0</span>
                    </a>
                    <!-- notificiation dropdown -->
                    <div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small"
                        class="dropdown-notifications display-hidden">
                        <!-- notification contents -->
                        <div class="dropdown-notifications-content" data-simplebar>

                            <!-- notivication header -->
                            <div class="dropdown-notifications-headline">
                                <h4>Notifications </h4>
                                <a href="#">
                                    <i class="icon-feather-settings"
                                        uk-tooltip="title: Notifications settings ; pos: left"></i>
                                </a>
                            </div>

                            <!-- notiviation list -->
                            <ul id="notifylist">
                                
                                
                            </ul>

                        </div>
                        
                    </div>

                    <!-- profile -image -->
                    <a class="opts_account" href="#"> <img src="<%=(userinfos)?userinfos.avatar:noimage.jpg%>" alt=""></a>

                    <!-- profile dropdown-->
                    <div uk-dropdown="mode:click ; animation: uk-animation-slide-bottom-small"
                        class="dropdown-notifications rounded display-hidden">

                        <!-- User Name / Avatar -->
                        <!-- User Name / Avatar -->
                        <a href="/mypage">

                            <div class="dropdown-user-details">

                                <div class="dropdown-user-cover">
                                    <img src="<%=(userinfos)?userinfos.avatar:noimage.jpg%>" alt="">
                                </div>
                                <div class="dropdown-user-avatar">
                                    <img src="<%=(userinfos)?userinfos.avatar:noimage.jpg%>" alt="">
                                </div>
                                <div class="dropdown-user-name"><%=(user)? user.name:"" %></div>
                            </div>

                        </a>

                        <ul class="dropdown-user-menu">
                            <li><a href="/mypage"> <i class="fas fa-user-edit"></i>Profile</a></li>
                            <li>
                                <a href="#" id="night-mode" class="btn-night-mode">
                                    <i class="fas fa-moon"></i> Night mode
                                    <span class="btn-night-mode-switch">
                                        <span class="uk-switch-button"></span>
                                    </span>
                                </a>
                            </li>
                            </li>
                            <li><a href="/logout"> <i class="fas fa-sign-out-alt"></i>Log Out</a>
                            </li>
                        </ul>

                    </div>


                </div>

            </div> <!-- / heaader-innr -->
        </header>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>
        $(document).ready(function(){
            getNotification()
        })
        let user_id = "<%=user._id%>"
        const getSearch = (val)=>{
            console.log("search",val)
            
            if(val !== ""){
                $('#searchlist').html('<li class="list-title"> loading...</li>')
                $.ajax({
                    url:`/search/${val}`,
                    method:"GET",
                    success:(resp)=>{
                        let divhtml=""
                        console.log("search result",resp)
                        if(Array.isArray(resp.message) && resp.message.length>0){
                            
                            resp.message.map((key,val)=>{
                                if(key._id !==user_id){
                                    divhtml+=`
                                    <li> <a href="/profile?userid=${key._id}">
                                            <img src="${key.userinfo.avatar}" alt="">
                                            <p> ${key.name}</p>
                                        </a>
                                    </li>`
                                }
                            })
                            $('#searchlist').html(divhtml)
                        }
                        else{
                            $('#searchlist').html('<li class="list-title"> No user found</li>')
                        }
                    }
                })
            }
        }
        function addtoFriend(requestid){
            console.log("addfriend",requestid)
            $.ajax({
                url:`/friend/add/${requestid}`,
                method:"GET",
                success: (resp)=>{
                
                    getNotification()
                }
            })
        }
        function getNotification(){

            $.ajax({
                url:"/notification",
                method:"GET",
                success: (resp)=>{
                    let nothtml=""
                    console.log(resp)
                    $('#notify').html(resp.friendrequests.length)
                    resp.friendrequests.map((key,val)=>{
                        nothtml +=`<li>
                                <span style="display:inline-flex;">
                                    <a href="/profile?userid=${key.friendrequestfrom._id}">
                                        <span class="notification-avatar">
                                            <img src="${key.friendrequestfrom.userinfo.avatar}" alt="">
                                        </span>
                                        <span class="notification-text">
                                            <strong>${key.friendrequestfrom.name}</strong> wants to be your friend
                                            <br> <span class="time-ago"> ${moment(key.createdAt).fromNow()} </span>
                                        </span>
                                    </a>
                                    <a href="javascript:;" class="button small" style="background-color: #377DFF; margin-top:25px" onclick="addtoFriend('${key._id}')"><i class="uil-plus" style="color:#fff;padding-top:5px"></i></a>
                                </span>
                                </li>`
                    })

                    $('#notifylist').html(nothtml)
                }
            })
        }
    </script>
